### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
player_count = purchase_data['SN'].nunique()

player_count_df = pd.DataFrame({"Total Players":[player_count]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
item_count = purchase_data['Item Name'].nunique()
avg_price = purchase_data['Price'].mean()
purchase_count = purchase_data['Item Name'].count()
total_revenue = sum(purchase_data['Price'])

# pd.options.display.float_format = '${:,.2f}'.format
purchase_analysis_df = pd.DataFrame({"Number of Unique Items":[item_count],
                                 "Average Price":[avg_price],
                                 "Number of Purchases":[purchase_count],
                                 "Total Revenue":[total_revenue]})

purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map('${:,.2f}'.format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map('${:,.2f}'.format)

purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
unique_players_df = purchase_data.drop_duplicates(subset="SN", keep='first', inplace=False)
# unique_players_df

gender_count_df = pd.DataFrame(unique_players_df["Gender"].value_counts())
gender_count_df = gender_count_df.drop_duplicates(keep="first")
# gender_count_df

gender_percentage = (unique_players_df["Gender"].value_counts()/player_count_df.iloc[0]['Total Players'])
# gender_percentage

gender_count_df['Percentage of Players'] = gender_percentage
# gender_count_df

gender_demographics_df = gender_count_df.rename(columns={
    'Gender': "Total Count"})
# gender_demographics_df

gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map('{:.2%}'.format) 
gender_demographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Creating Gendered Dataframes
male_purchase_df = purchase_data[purchase_data['Gender']=='Male']
female_purchase_df = purchase_data[purchase_data['Gender']=='Female']
other_purchase_df = purchase_data[purchase_data['Gender']!='Male']
other_purchase_df = other_purchase_df[other_purchase_df['Gender']!='Female']

# Unique players by gender
male_unique_players = male_purchase_df['SN'].nunique()
female_unique_players = female_purchase_df['SN'].nunique()
other_unique_players = other_purchase_df['SN'].nunique()

# Purchase count
male_purchase_count = male_purchase_df['Purchase ID'].count()
female_purchase_count = female_purchase_df['Purchase ID'].count()
other_purchase_count = other_purchase_df['Purchase ID'].count()

# Average Price
male_avg_price = male_purchase_df['Price'].mean()
female_avg_price = female_purchase_df['Price'].mean()
other_avg_price = other_purchase_df['Price'].mean()

# Total Purchase Value
male_total_price = male_purchase_df['Price'].sum()
female_total_price = female_purchase_df['Price'].sum()
other_total_price = other_purchase_df['Price'].sum()

# Avg Total Per Person by Gender
male_avg_total = (male_total_price / male_unique_players)
female_avg_total = (female_total_price / female_unique_players)
other_avg_total = (other_total_price / other_unique_players)

# Create Dataframe
gender_analysis_df = pd.DataFrame({"Purchase Count":[male_purchase_count,female_purchase_count,other_purchase_count],
                                  "Average Purchase Price":[male_avg_price,female_avg_price,other_avg_price],
                                   "Total Purchase Value":[male_total_price,female_total_price,other_total_price],
                                   "Avg Total Purchase per Person":[male_avg_total,female_avg_total,other_avg_total]
                                  })

# Format currency
gender_analysis_df['Average Purchase Price'] = gender_analysis_df['Average Purchase Price'].map('${:.2f}'.format)
gender_analysis_df['Avg Total Purchase per Person'] = gender_analysis_df['Avg Total Purchase per Person'].map('${:.2f}'.format)
gender_analysis_df['Total Purchase Value'] = gender_analysis_df['Total Purchase Value'].map('${:.2f}'.format)

# Set proper index
genders = ['Male','Female','Other / Non-Disclosed']
gender_analysis_df = gender_analysis_df.set_index([genders])

# Display Dataframe
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
# Creating Bins for ages
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Copy main dataframe, bin total count column
age_df = purchase_data.copy()
age_df['Total Count'] = pd.cut(age_df['Age'], bins, labels=group_names)

# Create data frame by total count, group it
age_grouped = age_df.groupby("Total Count")
total_count_age = age_grouped["SN"].nunique()

# Calculate percentage
age_percent = (total_count_age/player_count) * 100
age_demo = pd.DataFrame({"Total Count": total_count_age,
                        "Percentage of Players": age_percent})
# Fix my index
age_demo.index.name = None

# Format

             Total Count  Percentage of Players
Total Count
<10                   24               4.166667
10-14                 41               7.118056
15-19                150              26.041667
20-24                232              40.277778
25-29                 59              10.243056
30-34                 37               6.423611
35-39                 26               4.513889
40+                    7               1.215278

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame