### Observations
* The overwhelming majority of players, over 84%, are Male. The majority of purchases are coming from users between the ages of 20-24, followed by 15-19. With this in mind, it would be more profitable and appeal to a larger audience base to both market and create more items that would appeal to this crowd of high school to college aged males.

* A majority of players tend to only buy one item. While this falls in line with industry standards, the majority of purchases coming from a small pool of people, creating some more general appeal items, or "cheaper" versions of more popular items, may encourage people to make a second purchase.

* Of the top 5 profitable items, only 1 was under 4 dollars in price. Consider making more "premium" items that will draw a lot of attention of a larger majority of the player base, as these items will likely see quite a few purchases.

In [1]:
# Dependencies and Setup
from functools import reduce
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
player_count = purchase_data['SN'].nunique()

player_count_df = pd.DataFrame({"Total Players":[player_count]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
item_count = purchase_data['Item Name'].nunique()
avg_price = purchase_data['Price'].mean()
purchase_count = purchase_data['Item Name'].count()
total_revenue = sum(purchase_data['Price'])

# pd.options.display.float_format = '${:,.2f}'.format
purchase_analysis_df = pd.DataFrame({"Number of Unique Items":[item_count],
                                 "Average Price":[avg_price],
                                 "Number of Purchases":[purchase_count],
                                 "Total Revenue":[total_revenue]})

purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map('${:,.2f}'.format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map('${:,.2f}'.format)

purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
unique_players_df = purchase_data.drop_duplicates(subset="SN", keep='first', inplace=False)
# unique_players_df

gender_count_df = pd.DataFrame(unique_players_df["Gender"].value_counts())
gender_count_df = gender_count_df.drop_duplicates(keep="first")
# gender_count_df

gender_percentage = (unique_players_df["Gender"].value_counts()/player_count_df.iloc[0]['Total Players'])
# gender_percentage

gender_count_df['Percentage of Players'] = gender_percentage
# gender_count_df

gender_demographics_df = gender_count_df.rename(columns={
    'Gender': "Total Count"})
# gender_demographics_df

gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map('{:.2%}'.format) 
gender_demographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Creating Gendered Dataframes
male_purchase_df = purchase_data[purchase_data['Gender']=='Male']
female_purchase_df = purchase_data[purchase_data['Gender']=='Female']
other_purchase_df = purchase_data[purchase_data['Gender']!='Male']
other_purchase_df = other_purchase_df[other_purchase_df['Gender']!='Female']

# Unique players by gender
male_unique_players = male_purchase_df['SN'].nunique()
female_unique_players = female_purchase_df['SN'].nunique()
other_unique_players = other_purchase_df['SN'].nunique()

# Purchase count
male_purchase_count = male_purchase_df['Purchase ID'].count()
female_purchase_count = female_purchase_df['Purchase ID'].count()
other_purchase_count = other_purchase_df['Purchase ID'].count()

# Average Price
male_avg_price = male_purchase_df['Price'].mean()
female_avg_price = female_purchase_df['Price'].mean()
other_avg_price = other_purchase_df['Price'].mean()

# Total Purchase Value
male_total_price = male_purchase_df['Price'].sum()
female_total_price = female_purchase_df['Price'].sum()
other_total_price = other_purchase_df['Price'].sum()

# Avg Total Per Person by Gender
male_avg_total = (male_total_price / male_unique_players)
female_avg_total = (female_total_price / female_unique_players)
other_avg_total = (other_total_price / other_unique_players)

# Create Dataframe
gender_analysis_df = pd.DataFrame({"Purchase Count":[male_purchase_count,female_purchase_count,other_purchase_count],
                                  "Average Purchase Price":[male_avg_price,female_avg_price,other_avg_price],
                                   "Total Purchase Value":[male_total_price,female_total_price,other_total_price],
                                   "Avg Total Purchase per Person":[male_avg_total,female_avg_total,other_avg_total]
                                  })

# Format currency
gender_analysis_df['Average Purchase Price'] = gender_analysis_df['Average Purchase Price'].map('${:.2f}'.format)
gender_analysis_df['Avg Total Purchase per Person'] = gender_analysis_df['Avg Total Purchase per Person'].map('${:.2f}'.format)
gender_analysis_df['Total Purchase Value'] = gender_analysis_df['Total Purchase Value'].map('${:.2f}'.format)

# Set proper index
genders = ['Male','Female','Other / Non-Disclosed']
gender_analysis_df = gender_analysis_df.set_index([genders])

# Display Dataframe
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Creating Bins for ages
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Copy main dataframe, bin total count column
age_df = purchase_data.copy()
age_df['Total Count'] = pd.cut(age_df['Age'], bins, labels=group_names)

# Create data frame by total count, group it
age_grouped = age_df.groupby("Total Count")
total_count_age = age_grouped["SN"].nunique()

# Calculate percentage
age_percent = (total_count_age/player_count)
age_demo = pd.DataFrame({"Total Count": total_count_age,
                        "Percentage of Players": age_percent})
# Fix my index
age_demo.index.name = None

# Format
age_demo["Percentage of Players"] = age_demo['Percentage of Players'].map('{:.2%}'.format)

age_demo

       Total Count Percentage of Players
<10             24                 4.17%
10-14           41                 7.12%
15-19          150                26.04%
20-24          232                40.28%
25-29           59                10.24%
30-34           37                 6.42%
35-39           26                 4.51%
40+              7                 1.22%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Purchase Count
age_purch_count = pd.DataFrame(age_grouped['Price'].count())
age_purch_count.columns = ["Purchase Count"]
age_purch_count.index.name = 'Age Ranges'

# Average Purchase Price
age_purch_avg = pd.DataFrame(age_grouped['Price'].mean())
age_purch_avg.columns = ['Average Purchase Price']
age_purch_avg.index.name = 'Age Ranges'

# Total Purchase Value
age_total_value = pd.DataFrame(age_grouped['Price'].sum())
age_total_value.columns = ['Total Purchase Value']
age_total_value.index.name = 'Age Ranges'

# Average Total Purchase per Person
age_avg_total = pd.DataFrame(age_total_value['Total Purchase Value'] / age_purch_count['Purchase Count'])
age_avg_total.columns = ['Avg Total Purchase per Person']

# Combine DataFrames
all_age_dfs = [age_purch_count, age_purch_avg, age_total_value, age_avg_total]

age_analysis_df = reduce(lambda left,right: pd.merge(left,right,on="Age Ranges"), all_age_dfs)
age_analysis_df['Average Purchase Price'] = age_analysis_df['Average Purchase Price'].map('${:.2f}'.format)
age_analysis_df['Total Purchase Value'] = age_analysis_df['Total Purchase Value'].map('${:.2f}'.format)
age_analysis_df['Avg Total Purchase per Person'] = age_analysis_df['Avg Total Purchase per Person'].map('${:.2f}'.format)
age_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,32,$3.40,$108.96,$3.40
10-14,54,$2.90,$156.60,$2.90
15-19,200,$3.11,$621.56,$3.11
20-24,325,$3.02,$981.64,$3.02
25-29,77,$2.88,$221.42,$2.88
30-34,52,$2.99,$155.71,$2.99
35-39,33,$3.40,$112.35,$3.40
40+,7,$3.08,$21.53,$3.08

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Group by screen name
data_sn = purchase_data.groupby(['SN'])

# Sum of price column per screen name
user_spent = pd.DataFrame(data_sn['Price'].sum())
user_count = pd.DataFrame(data_sn['SN'].count())
user_spent.columns = ['Total Purchase Value']
user_count.columns = ['Purchase Count']

# Get Average Purchase Price
user_avg = pd.DataFrame((user_spent['Total Purchase Value'] / user_count['Purchase Count']))
user_avg.columns = ['Average Purchase Price']
user_avg

# Combine DataFrames
all_user_df = [user_count, user_avg, user_spent]
spenders_df = reduce(lambda left,right: pd.merge(left,right,on="SN"), all_user_df)

# Sort by highest purchase value
spenders_df = spenders_df.sort_values("Total Purchase Value",ascending=False)

# Format
spenders_df['Average Purchase Price'] = spenders_df['Average Purchase Price'].map('${:.2f}'.format)
spenders_df['Total Purchase Value'] = spenders_df['Total Purchase Value'].map('${:.2f}'.format)

# Display top 5 spenders
spenders_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Grouping by item name
popular_items_df = purchase_data.groupby(["Item Name"])

# Getting Purchase Count
popular_purchase_count = pd.DataFrame(popular_items_df['Item ID'].count())
popular_purchase_count.columns = ['Purchase Count']
# popular_purchase_count

# Getting Item Price
popular_purchase_price = pd.DataFrame(popular_items_df['Price'].mean())
popular_purchase_price.columns = ['Item Price']
# popular_purchase_price

# Getting total purchase value
popular_purchase_total = pd.DataFrame(popular_items_df['Price'].sum())
popular_purchase_total.columns = ['Total Purchase Value']
popular_purchase_total

# Getting Item ID
popular_purchase_id = pd.DataFrame(popular_items_df['Item ID'].max())
popular_purchase_id

# Combine DataFrames
all_popular_dfs = [popular_purchase_id, popular_purchase_count, popular_purchase_price, popular_purchase_total]
all_popular_df = reduce(lambda left,right: pd.merge(left,right,on="Item Name"), all_popular_dfs)


# Sorting DataFrame
all_popular_df = all_popular_df.set_index('Item ID', append=True)
all_popular_df = all_popular_df.reorder_levels(['Item ID','Item Name']).sort_index()
all_popular_df = all_popular_df.sort_values(by=['Purchase Count'], ascending=False)
# all_popular_df['Item Price'] = all_popular_df['Item Price'].map('${:.2f}'.format)
# all_popular_df['Total Purchase Value'] = all_popular_df['Total Purchase Value'].map('${:.2f}'.format)

# Formatting DataFrame
popular_items_df = all_popular_df.copy()
popular_items_df['Item Price'] = popular_items_df['Item Price'].map('${:.2f}'.format)
popular_items_df['Total Purchase Value'] = popular_items_df['Total Purchase Value'].map('${:.2f}'.format)

# Displaying dataframe summary
popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
101,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
82,Nirvana,9,$4.90,$44.10
141,Persuasion,9,$3.22,$28.99

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# Sorting popular item dataframe by Total Value
profitable_items_df = all_popular_df.sort_values("Total Purchase Value", ascending=False)


# Formatting DataFrame
profitable_items_df['Item Price'] = profitable_items_df['Item Price'].map('${:.2f}'.format)
profitable_items_df['Total Purchase Value'] = profitable_items_df['Total Purchase Value'].map('${:.2f}'.format)

# Displaying top 5 profitable items
profitable_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
101,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80